<div class="login-page">
    <div class="container">
        <div class="login-box">
            <h2 class="login-title">Login</h2>
            <form class="form-login">

                <ng-input-field [control]="form.controls.user_email" label="Email" icon="mail"></ng-input-field>
                <ng-input-field [control]="form.controls.user_password" label="Senha" icon="password"></ng-input-field>

                <div class="button-form">
                    <ng-button typeBtn="secondary" label="Entrar" [prefixIcon]="true" iconName="login" (btnClick)="postLogin()"></ng-button>
                </div>
    
            </form>
            <a href="#" class="forgot-password">Esqueceu a senha?</a>
        </div>
    </div>
</div>
