.access-page {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    overflow-y: hidden;
}


// Styles for HTML and Body tags
body {
  background-color: #fff !important;
}
