<div class="home-page">

    <!-- Text -->
    <div class="hero-text">
        <h1>Delicioso <br> <span class="highlight">Cuscuz Nordestino!</span></h1>
        <p>Saboreie o autêntico cuscuz nordestino, preparado com carinho e os melhores ingredientes para um gostinho de
            casa!</p>

        <!-- Button request now -->
         <div style="display: flex;">
            <ng-button typeBtn="outline" label="Peça Agora" iconName="lunch_dining" [prefixIcon]="true"></ng-button>
         </div>
        

    </div>

    <!-- Image menu main item -->
    <div class="hero-image">
        <img src="cuzcuz.png" alt="Prato de comida">
    </div>

</div>