@use "../../../../styles/index" as *;

.home-page {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  align-items: center;

  .hero-text {
    width: 40%;
  }

  .hero-text h1 {
    font-size: 50px;
    font-weight: bold;
    color: #222;
  }

  .hero-text .highlight {
    color: #e63946;
  }

  .hero-text p {
    font-size: 18px;
    color: #444;
    margin: 20px 0;
  }
}

/* Botão */
.btn {
  display: inline-block;
  background-color: #e63946;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #b02a36;
}

.hero-image {
  width: 60%;
}
.hero-image img {
  width: 100%;
}

@media screen and (max-width: $screen-md) {
  .home-page {
    flex-direction: column-reverse;
    justify-content: center;
    gap: $sz-3;

    .hero-text {
      width: 100%;
    }

    .hero-image {
      width: 100%;
    }
  }
}
